body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.quiz-container {
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-transform: uppercase;
}

#question-container {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.option {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option:hover {
    background-color: #0057a0;
}

.correct {
    background-color: #4caf50 !important;
}

.incorrect {
    background-color: red !important;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#next-button {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0074cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#next-button:hover {
    background-color: #0057a0;
}
